@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Authorization
@using IdentityServer.UI.Configuration.Constants
@inject IAuthorizationService AuthorizationService

@if ((await AuthorizationService.AuthorizeAsync(User, AuthorizationConsts.AdministrationPolicy)).Succeeded)
{
    <!--Menu item -->
    <div class="menu-item my-2 my-md-0 mr-md-3 dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            @Localizer["TitleConfiguration"]
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="" asp-controller="Configuration" asp-action="Clients">@Localizer["LinkClients"]</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-area="" asp-controller="Configuration" asp-action="IdentityResources">@Localizer["LinkIdentityResources"]</a>
            <a class="dropdown-item" asp-area="" asp-controller="Configuration" asp-action="ApiResources">@Localizer["LinkApiResources"]</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-area="" asp-controller="Grant" asp-action="PersistedGrants">@Localizer["LinkPersistedGrants"]</a>
        </div>
    </div>

    <!--Menu item -->
    <div class="menu-item my-2 my-md-0 mr-md-3 dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            @Localizer["TitleUsermanagement"]
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="" asp-controller="Identity" asp-action="Users">@Localizer["LinkUsers"]</a>
            <a class="dropdown-item" asp-area="" asp-controller="Identity" asp-action="Roles">@Localizer["LinkRoles"]</a>
        </div>
    </div>

    <!--Menu item -->
    <div class="menu-item my-2 my-md-0 mr-md-3 dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            @Localizer["TitleLogs"]
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="" asp-controller="Log" asp-action="AuditLog">@Localizer["Audit Logs"]</a>
            <a class="dropdown-item" asp-area="" asp-controller="Log" asp-action="ErrorsLog">@Localizer["Error Logs"]</a>
        </div>
    </div>
}